.listItem {
    width: 270px;
    height: 160px;
    background-color: var(--main-color);
    /* background-color: rgb(20, 19, 19); */
    margin-right: 8px;
    overflow: hidden;
    color: white;
}

.listItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.listItem video {
    width: 100%;
    height: 140px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* hover effect only for desktop, not for tablet and mobiles */
@media only screen and (min-width:769px) {

    /* hide mobile swiper list in desktop */
    .listItem-mobile {
        display: none;
    }

    .listItem:hover {
        height: 350px;
        position: absolute;
        top: -150px;
        -webkit-box-shadow: 10px 10px 15px 10px rgba(255, 255, 255, 0.07);
        box-shadow: 0px 0px 3px 4px rgba(255, 255, 255, 0.07);
        border-radius: 5px;
        border: 1px solid rgb(55, 54, 54);
        cursor: auto;
    }

    .listItem:hover img {
        height: 140px;
    }

    .listItem:hover .itemInfo {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .listItem:hover .itemInfo .icons {
        display: flex;
        margin-bottom: 10px;
        padding-top: 9px;
    }

    .listItem .itemInfo .icons .icons-play {
        background-color: rgb(66, 64, 64);
    }

    .listItem .itemInfo .icons .icons-play:hover {
        background-color: rgb(0, 0, 0);
    }

    .listItem:hover .itemInfo .icons .icon {
        border: 2px solid rgb(74, 72, 72);
        padding: 6px;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 30px;
        color: white;
    }

    .listItem:hover .itemInfo .itemInfoTop {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        font-size: 14px;
        font-weight: 600;
        color: gray;
    }

    .listItem:hover .itemInfo .title {
        color: rgb(76, 177, 232);
        font-weight: 500;

    }

    .listItem:hover .itemInfo .is-series {
        font-size: small;
        font-weight: 400;
        color: white;
        margin-bottom: 3px;
        margin-top: -4px;
    }

    .listItem:hover .itemInfo .itemInfoTop .limit {
        border: 1px solid gray;
        border-radius: 4px;
        color: white;
        font-size: x-small;
        font-weight: 400;
        background-color: rgb(50, 48, 48);
        padding: 0px 2px;
        margin-right: 5px;
    }

    .listItem:hover .itemInfo .itemInfoTop .match {
        font-size: small;
        font-weight: 400;
        color: rgb(47, 194, 86);
        margin-right: 5px;
    }

    .listItem:hover .itemInfo .itemInfoTop .year {
        font-size: small;
        font-weight: 400;
        color: white;
        margin-right: 5px;
    }

    .listItem:hover .itemInfo .desc {
        font-size: 13px;
        margin: 0px;
        margin-bottom: -10px;
        width: auto;

    }

    .listItem:hover .itemInfo .genre {
        font-size: 14px;
        font-weight: 700;
        color: lightgray;
        margin: 0px;
        padding: 0px;
    }
}

@media only screen and (max-width:768px) {

    /* hide desktop list in mobile and tablet */
    .listItem-desktop {
        display: none;
    }

    .listItem {
        height: fit-content;
        border-radius: 2px;
    }

    .listItem img {
        aspect-ratio: 16/9;
        margin: 0px;
        padding: 0px;
        border-radius: 2px;
    }
}